.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  /* height: 100vh; */
}
.title-box {
  width: 500px;
}
.title-box img {
  width: 235px;
  margin-bottom: -10px;
}
.title-box p {
  color: #000;
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
}
.form-box {
  width: 550px;
  padding: 50px;
  margin: 20px;
  text-align: center;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
}
.form-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #eeebeb;
  border-radius: 5px;
  outline: none;
}
.form-box input:focus {
  box-shadow: #363636;
}
.form-box button {
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  cursor: pointer;
  background-image: url("C:\Users\derpg\React\Stekonomi\Stekonomi\src\assets\buttonBackground.svg");
  transition: ease-in-out 500ms;
  box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.226);

}
.form-box button:hover {
    background-image: url("C:\Users\derpg\React\Stekonomi\Stekonomi\src\assets\buttonBackground.svg");
    transform: scale(1.1);
    box-shadow: 0 12px 2px -2px rgba(0, 0, 0, 0.473);

}
.form-box a {
  color: #363636;
  font-size: 14px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}
.form-box a:hover {
  text-decoration: underline;
}
.form-box hr {
  border: 1px solid #dadde1;
  margin-bottom: 15px;
}
.form-box .create-btn a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 5px;
  background-image: url("C:\Users\derpg\React\Stekonomi\Stekonomi\src\assets\buttonBackground.svg");
  transition: ease-in-out 500ms;
  box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.226);

  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.form-box .create-btn a:hover {
    background-image: url("C:\Users\derpg\React\Stekonomi\Stekonomi\src\assets\buttonBackground.svg");
    transform: scale(1.1);
    box-shadow: 0 12px 2px -2px rgba(0, 0, 0, 0.473);
    
    
}
