.utgifter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: auto;
    gap: 3rem;
}

.budget__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: auto;
    flex-grow: 1;
    flex-basis: 0;

    /* margin-left: 10%;
    margin-right: 10%; */
}

.budget__form__left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    justify-content: center;
    
}

.budget__form__center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;

}

.budget__form__right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    justify-content: center;

}

.formItem {
    display: flex;
    justify-content: space-between;
    padding-right: 5vh;
    padding-left: 5vh;
}

.formItemTitle {
    border: solid 1px;
    margin-right: 10px;
    padding: 5px 50px;
    flex: 1;
}

.formItemInput {
    flex: 1;
}

.budget__button {
    background-image: url("C:\Users\derpg\React\Stekonomi\Stekonomi\src\assets\buttonBackground.svg");
    font-weight: bold;
    border: solid 1px;
    border-color: black;
    border-radius: 25px;
    font-size: medium;
    padding: 10px 25px;
    max-width: 150px;
    cursor: pointer;
}

.history__button {
    max-width: 15vh;
}
.submit__button {
    width: 100%;
}

.budget__success {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}